h1 {
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-right:30%;
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: 10;
}
@keyframes animation {
    from{ background-color: teal}
    to {background-color: rebeccapurple}
}
body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #DAFFFB;
    font-size: x-large;
}

div{
    margin-left: 100px;
    margin-right: 100px;
    font-family: Georgia, cursive;
}