/* CITATION:
/  Author: @nick-bash
/  Accessed: 12/12/2023 10:08 PM
/  Link: https://github.com/nick-bash/cs142-proj8/blob/7cc66d581265cf362be9208238d00f33bd8af106/components/activityFeed/activityFeed.css
*/

.Group4 {
    align-items: top; 
    justify-content: left;
    display: flex;
    flex-direction: row;
    margin: 20px;    
  }

  .Group4-image {   
      height: auto;
      max-width: 5%;      
  }

  .Group4-item {
    margin: 10px;
    padding: 10px
  }

  .Button:hover {
      background-color: #EEEEEE;
  }